{% extends "master.html" %}
{% block titulo %}
Put log
{% endblock %}
{% block contenido %}
<section class="section">
    <div class="columns">
        <div class="column is-one-third">
            <h3 class="is-size-3">Create data</h3>
            <form action="{{url_for('save_create_log')}}" method="post">
                <a href="{{url_for('default_log')}}" class="button is-info mt-2" title=" hosts=['127.0.0.1','192.168.1.1','192.168.0.1'] 
                ports = ['80','443','22','3306']" > Default data</a>
                <br>
                <label for="host">Array de hosts</label>
                <input required type="text" class="input" placeholder="host,host,host,host" name="host" id="host">
                <label for="port">Array de ports:</label>
                <input required type="text" class="input" placeholder="port,port,port,port" name="port" id="port">
                <button type="submit" class="button is-success mt-2">Send</button>
                <a href="{{url_for('logs')}}" class="button is-primary mt-2">Return</a>
            </form>
        </div>
    </div>
</section>
{% endblock %}
